# Java / Spring Boot
/backend/target/
/backend/.idea/
/backend/*.iml

# Node / React
/frontend/node_modules/
/frontend/dist/
/frontend/.vite/

# IDEs
*.log
*.env
.DS_Store
.vscode/
.idea/

# Sistema
Thumbs.db
